.iconContainer {
  position: relative;
}

.iconBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: var(--border-circle);
  transition: var(--transition-time) ease-in-out;
  transition-delay: .3s;

  &.opened {
    animation: open .4s ease-in-out forwards;
  }
}

@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}
