@import "styles/mixins.scss";

.UserInfo {
  @media (max-width: 425px) {
    justify-content: center;
  }
}

.UserInfo::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--grey-100);
  margin-bottom: var(--space-6);
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: var(--blue-light);
  color: var(--blue-dark);
  border-radius: var(--border-circle);
  font-size: 40px;
  line-height: 52px;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.links {
  display: flex;
  gap: var(--space-4);
}
