@import "mixins";

.inputBase {
  @include justify-align-center;
  width: 100%;
  padding: 12px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-s);
  color: var(--color-primary);
  transition: var(--transition-box-shadow);
  font-family: inherit;
}

.inputBase::placeholder {
  color: var(--color-secondary);
}

.inputBase:focus {
  outline: none;
  box-shadow: 0 0 5px 0 rgb(85 88 250 / 40%);
}

.justify-start {justify-content: start;}
.justify-end {justify-content: end;}
.justify-center {justify-content: center;}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}
.justify-evenly {justify-content: space-evenly;}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}

.margin-left {margin-right: auto;}
.margin-right {margin-left: auto;}

.direction-row {flex-direction: row;}
.direction-row-reverse {flex-direction: row-reverse;}
.direction-column {flex-direction: column;}
.direction-column-reverse {flex-direction: column-reverse;}

.wrap {flex-wrap: wrap}
.wrap-reverse {flex-wrap: wrap-reverse}
.nowrap {flex-wrap: nowrap}

.gap-1 {gap: var(--space-1)}
.gap-2 {gap: var(--space-2)}
.gap-3 {gap: var(--space-3)}
.gap-4 {gap: var(--space-4)}
.gap-5 {gap: var(--space-5)}
.gap-6 {gap: var(--space-6)}
