.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-opacity);
}

.opened {
  opacity: 1;
  pointer-events: auto;
}

.content {
  position: relative;
  background-color: #fff;
  padding: calc(var(--space-unit) * 8);
  border-radius: var(--border-m);
  box-sizing: content-box;
  min-width: 400px;
  max-width: 50%;
}
