.UserLink {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 13px;
  height: 11px;
  display: block;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5558FA;
  text-decoration: none;
  transition: opacity .2s;
}

.link:hover {
  opacity: .8;
}
